 @media screen and (max-width: 1900px) {
  div.first img{
    width: 600px
  }

}   


@media screen and (max-width: 1700px) {
  div.first img{
    width: 500px
  }
  .hero-section {
  width: 80%;
}
div.standard_div {
  gap: 50px;
}
.hero-section {
  width: 100%;
}
}   

@media screen and (max-width: 1600px) {
  div.first img{
    width: 500px
  }
    .hero-section {
  width: 80%;
}
}    
@media screen and (max-width: 1200px) {
  .fourth img{
   width: 300px;
  }
div.fifth img.flavors {
height: 250px;
width: 380px;

}}
@media screen and (max-width: 1110px) {
  div.first img{
    width: 400px
  }
div.sixth div.left {
  width: 600px ;
}
div.sixth div.left div.contain-elements {
  gap: 0px;
}
div.sixth div.left img {
  width: 85px;
  margin-right: 50px;
  padding-left: 40px;
}
div.fifth img.flavors {
height: 200px;
width: 350px;

}
}


  @media screen and (max-width: 1024px) {
  
    header{
height: 90px;
    }
    nav h1{
      font-size: 40px;
    }
    .home-btn,
.more-btn,
.reset-btn{
  padding: 20px 32px;
}
div.standard_div{
  margin-bottom: 10px;
  gap: 20px;
}
  .hero-section {
  margin-top: 110px;
}
div.second {
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.64);
}
.second img {
  width: 200px;
}
div.fourth {
    margin-top: 30px;
    height: 450px;
    width: 362px;
    
}.fourth img {
  width: 200px;

}
.fourth p {
  margin-left: 10px;
  margin-right: 10px;
}div.fifth div.description img {
  width: 350px;
  
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
}div.fifth div.description iframe {
  width: 200px;
  height: 250px;

}

  }
@media screen and (max-width: 980px) {
div.standard_div {
  flex-direction: column;
}
#first .first_left{
order: 1;
}
#first .first_right{
  order: 0;
}
div.first img {
  width: 600px;

}
.second img {
  width: 340px;

}
div.fourth {
    height: 600px;
    width: 362px;
    
}
.fourth img {
  width: 300px;

}
div.fifth div.buttons button{
  font-size: 28px;
  padding: 40px 0px;
}

div.fifth div.description {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
div.fifth img.flavors {
height: 250px;}

div.sixth div.left {
  width: 600px ;
}
div.footer {
display: flex;
flex-direction: row;
align-items: center;
  justify-content: center;

}
}
@media screen and (max-width:700px){
  div.sixth div.left .contain-text {
  margin-top: -50px;
}
  header .more-btn{display: none;}
  div.footer {
display: flex;
flex-direction: row;
align-items: center;
  justify-content: center;
height: 80px;

}
}
@media screen and (max-width:615px){
  body{
    width: 100%;
  }
  .hero-section{width:100%}
  div.first img{
    width: 100%;
  }
  header img{
    display: none;
  }
  .second img {
  width: 100%;
  height: 400px;

}
div.sixth {
  margin-top: 30px;
  width: 100%;

}
div.sixth div.left {
  width: 100%;
}
div.sixth div.left div.contain-buttons {

  gap: 2%;
  padding-right: 0px;
}
  div.footer {
width: 90%;

}
div.footer div.contact_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
}
}





@media screen and (max-width:600px){
div.sixth div.left .contain-text {
  margin-top: 0px;
}
div.sixth div.left div.contain-elements {
  flex-direction: column;
  gap: 30px;
  margin-bottom: 25px;
}
div.sixth div.right{
  height: 400px;
}
div.sixth div.right div.final {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
div.footer div.contact_info img {
  width: 40px;
  aspect-ratio: 1/1;
}
}
@media screen and (max-width:460px) {
    header .home-btn{display: none;}


    div.footer div.contact_info {

  justify-content: center;

  gap: 10px;
}
    div.footer div.contact_info img {
  width: 30px;
  
}
}
@media screen and (max-width:410px) {

div.sixth div.left div.contain-buttons {

  gap: 2px;
  
}

}
@media screen and (max-width:380px) {
    .home-btn,
.more-btn,
.reset-btn{
  padding: 12px 24px;
  border-radius: 8px;
}
p.default{
  font-size: 18px;
  margin-left: 0px;
  margin-right: 0px;

}

  div.fourth {
    height: 500px;
    width: 100%;
    

}
.fourth.img{
  width: 80%;
}
div.fifth div.description img {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
}

