:root {
  --vector-font: "Victor Mono", monospace;
  --grey: #4e4e4e;
  --fixed: fixed;
}

* {
  margin: 0;
  padding: 0;
}
body {
    transition: 1000ms;

  width: 100%;
  height: auto;
  background-image: url(../resources/test.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

p::selection {
  background-color: #1e1e1e;
  color: #e1e1e1;
}
div.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #fbfafb;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading img {
  border-radius: 50%;
  width: 360px;
}

.container div {
  height: 250px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.container {
  margin-top: 800px;
}
p.f {
  opacity: 1;
  font-family: var(--vector-font);
  color: var(--grey);
  font-size: 60px;
  text-align: center;
  max-width: 12ch;
}
.container p {
  font-family: var(--vector-font);
  color: var(--grey);
  font-size: 75px;
  text-align: center;
  max-width: 12ch;
}
p.welcome {
  font-size: 90px;
  font-weight: 400;
}
div.last {
  margin-bottom: 200px;
}
#second {
  width: 100%;
  height: 1300px;
  min-height: 900px;
  background-color: #e1e1e1;
  background-size: contain;
  width: 100%;
  filter: drop-shadow(0px -20px 30px #4e4e4e);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
#second div.main {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#second p#main {
  padding: 20px;
  height: auto;
  font-family: var(--vector-font);
  font-size: 40px;
  margin: 200px auto;
  color: var(--grey);
  font-weight: 900;
  max-width: 80%;
}
#second div.down {
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
      transition: 1000ms;


  

}
#second a {
  width: 37%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  text-decoration: none;
}

#second img {
  width: 100%;
  align-self: center;
  justify-self: center;
}
#second a p {
  margin-top: 30px;
  color: var(--grey);
  font-family: var(--vector-font);
  font-weight: 700;
  font-size: 42px;
}
section.third {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  width: 100%;
}
section .third div {
  width: 100%;
}
section.third p.text {
  width: 100%;
  height: 240px;
  font-family: var(--vector-font);
  font-size: 40px;
  margin: 150px auto;
  color: var(--grey);
  font-weight: 900;
  max-width: 70ch;
  text-align: left;
      transition: 1000ms;

}
section.third img {
  width: 15%;
  border-radius: 50%;
  filter: grayscale(100%);
  transition: 1000ms;
  min-width: 200px;
}

section.third p.me {
  width: 30%;
  padding: 20px;
  text-align: center;
  height: auto;
  font-family: var(--vector-font);
  font-size: 40px;
  margin: 0px auto;
  color: var(--grey);
  font-weight: 900;
  max-width: 60ch;
}
section.third img:hover {
  filter: grayscale(0%);
}

section.third .container-third {
  width: 80%;
}
section.fourth {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;

  margin-top: 300px;
  margin-bottom: 150px;
}
section.fourth div.fourth {
  background-color: #fbfafb;
  height: auto;
  justify-self: center;
  align-self: center;
  filter: drop-shadow(0px 10px 40px black);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
}
section.fourth div.fourth div {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
section.fourth div.fourth div.head {
  margin-top: 30px;
}





a {
  text-decoration: none;
}
section.fourth button {
  margin-top: 80px;
  border: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-decoration: dashed;
  width: 160px;
  height: 45px;
  background-color: #4e4e4e;
  font-family: var(--vector-font);
  color: #e1e1e1;
  font-size: 20px;
  border-radius: 8px;
}
p.l {
  margin-top: 80px;
  max-width: 50ch;
  font-size: 40px;
  margin-bottom: 100px;
}
section.contact {
  width: 100%;
  max-width: 85%;
  min-width: 500px;
  height: 150px;
  background-color: #4e4e4e;
  margin-top: 150px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 200px;
  margin-bottom: 100px;
}
section.contact p,
section.contact a {
  font-family: var(--vector-font);
  color: #e1e1e1;
  text-decoration: none;
  font-size: 40px;
}
img.cv{
width: 800px;
max-width: 100%;
}