
@media screen and (max-width:2048px) {
    section.container{
    max-width: 1600px;
   
}
section.first img {
  height: 700px;
}
section.second {
  height: 570px;

}
section.third {
  margin-top: 100px;
  height: 140px;
}
section.fourth {
  margin-top: 100px;
  width: 85%;

}
section.fourth div.main-images img {
  width: 28%;
  filter: drop-shadow(0px 4px 15px black);
}
section.fourth div.main-texts {
  height: 350px;
  width: 100%;
}
section.fourth div.main-texts div p {
  
  max-width: 38ch;
  margin-top: 3rem;
}
h2.main {
  margin-top: 130px;
}
section.fifth {
  margin-top: 30px;
}
h2.margined {

  margin-top: 90px;
}
section.sixth {

  height: 450px;

}
section.sixth div.right div.photo_card p.name sss{
  
  left: 10%;
}
ssss {
  top: 77%;
  
}
section.seventh{

    height: 400px;

}
section.seventh div h3{

    margin-top: 100px;
}
section.fourth div.main-texts {
  height: 300px;
  width: 100%;
}
}
@media screen and (max-width:1620px) {
    section.container{
    max-width: 1200px;
   
}
div.header_buttons {
  width: 60%;

}section.first img {
  height: 500px;
}
section.second {
  height: 500px;

}
section.second div h2 {
max-width: 17ch;
}
section.second div p {

  max-width: 25ch;
}
section.third {
  margin-top: 80px;
  height: 130px;
}
section.fifth {
  margin-top: 0px;
}
h2.margined {

  margin-top: 40px;
}
section.sixth {

  height: 420px;

}
section.sixth div.right div.photo_card p.name sss{
  
  left: 12%;
  top: 54%;
  font-size: 0.8rem;
}
ssss {
  top: 70%;
  
}


}
@media screen and (max-width:1220px) {
    section.container{
    max-width: 900px;
   
}

div.header_buttons {
  width: 70%;

}section.first img {
  height: 450px;
}
section.second {
  height: 400px;

}
section.second div h2 {
max-width: 17ch;
}

section.second div p {

  max-width: 20ch;
}
section.third {
  margin-top: 80px;
  height: 130px;
}
section.fifth {

  display: grid;
grid-template-columns: repeat(2,50%);
grid-template-rows: repeat(2,80%);
margin-top: 40px;
}
section.fifth div {
  width: 65%;
justify-self: center;

}
h2.margined {

  margin-top: 260px;
}
section.sixth {

  height: 420px;

}
section.sixth div.right div.photo_card p.name sss{
  
  left: 13%;
  top: 52%;
  font-size: 0.8rem;
}
ssss {
  top: 65%;
  
}
}
@media screen and (max-width:920px) {
    section.container{
    max-width: 800px;
   
}
div.header_buttons {
  width: 70%;

}section.first img {
  height: 420px;
}
section.second {
  height: 400px;

}
section.second div h2 {
margin: 0px 10%;
}
section.second div h2 {
max-width: 17ch;
}

section.second div p {

  max-width: 20ch;
}
section.third {
  margin-top: 80px;
  height: 130px;
  width: 98%;
}
h2.margined {

  margin-top: 250px;
}
section.sixth {

  height: 700px;
  flex-direction: column;
align-items: center;
}
section.sixth input {

  width: 70%;

}
section.sixth div.right {
  width: 90%;
  height: 100%;
}
section.sixth div.right div.photo_card p.name sss{
  
  left: 13%;
  top: 55%;
  font-size: 1rem;
}
ssss {
  top: 74%;
  
}


}
@media screen and (max-width:820px) {
    section.container{
    max-width: 630px;
   
}
p {
  font-family: var(--manrope);
  line-height: 1.3rem;
}
a.contact{
  display: none;
}
a.account{display: none;}
a.disabled{display: block;}

section.first img {
  height: 400px;
}
section.second {
  height: 600px;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3,33.3%);
}
section.second div h2 {
margin: 0px 10%;
}
section.second div h2 {
max-width: 17ch;
}


section.third {
  margin-top: 60px;
  height: 120px;

}
section.third .join{
  margin-left: 10%;
}

section.fifth {
display: flex;
flex-direction: column;
justify-content: flex-start;
height: 1200px;

}
section.fifth div {
  width: 70%;
  margin-top: 20px;
}
h2.margined{
margin-top: 500px;}
}


@media screen and (max-width:630px) {
    section.container{
    max-width: 410px;
   
}
a.home{
  display: none;
}
section.fourth div.main-images {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

}
section.fourth div.main-images img {
  width: 80%;
  margin-top: 10px;
}
section.fourth div.main-texts{
  margin-top: 10px;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2,40%);
  grid-template-rows: repeat(2,40%);
}
h2.main{

  margin-top: 0px;
}
section.fifth {

height: 1200px;

}
section.fifth div {
  width: 80%;
  margin-top: 20px;
}
h2.margined{
  margin-top: 220px;
}
section.sixth div.right {
  width: 130%;
  height: 100%;
}
section.seventh{
  display: none;
}
}
@media screen and (max-width:410px) {
    section.container{
    max-width: 340px;
   
}
a.account{
  display: none;
}
section.first img {
  height: 220px;
}
section.second {
  height: 470px;

}
section.second div h2 {
  color: #f1f1f1;
  font-family: var(--header-font);
  color: var(--default-orange-color);
  font-size: 1rem;
  margin-top: 50px;
}
section.third :nth-child(3) {

  display: none;
}
h2.margined{margin-top: 0px;}
section.seventh{
  display: none;
}
section.last{
  display: none;
}
section.sixth div.right div.photo_card p.name sss{
  
  left: 13%;
  top: 52%;
  font-size: 0.6rem;
}
ssss {
  top: 63%;
  font-size: 0.6rem;
  
}
}

