/* predefined section*/
:root {
  --header-font: "Pacifico", cursive;
  --second-font: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --poppins-font: "Poppins", sans-serif;
  --heavy-pink-color: #ff8699;
  --dark-pink-color: #ea4c89;
  --tourq-color: #5dd6cf;
  --header-white-color: rgba(255, 255, 255, 0.64);
}

*::selection {
  background: var(--heavy-pink-color);
}

.heavy_pink_colored,
.heavy_pink_colored p {
  background-color: var(--heavy-pink-color) !important;
  color: #ffffff !important;
}

.disabled {
  display: none;
}
/* predefined end */

html{scroll-behavior: smooth;}
body {
  
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-size: cover;
  background-image: url(../resources/images/violet-watercolor-texture-background_1083-172.avif);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body::selection {
  
  background: var(--heavy-pink-color);
  
}
header {
  height: 130px;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--header-white-color);
  z-index: 2;
}
nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
}
nav h1 {
  font-size: 60px;
  font-family: var(--header-font);
  cursor: default;
  color: var(--tourq-color);
}

header img {
  width: 100px;
  height: 100px;
}

.home-btn,
.more-btn,
.reset-btn {
  background-color: #ea4c89;
  border-radius: 12px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--poppins-font);
  font-size: 22px;
  
  line-height: 0px;
  margin: 0;
  padding: 24px 38px;
  text-align: center;
  text-decoration: none;
  transition: color 1000ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.home-btn:hover,
.more-btn:hover {
  background-color: #f082ac;
}
.hero-section {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 80%;
  max-width: 1940px;
}
div.standard_div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;

  gap: 80px;
  border-radius: 12px;

}


p.default {
  font-size: 24px;
  font-family: var(--poppins-font);
  line-height: 42px;
  color: var(--dark-pink-color);
  margin-left: 15px;
  margin-right: 15px;
}
div.first button {
  margin: 10px;
}
div.first img {
  width: 700px;
  aspect-ratio: 6/3.4;
  border-radius: 12px;
}

div.second {
  margin-top: 70px;
  background-color: rgba(255, 255, 255, 0.64);
}

.second img {
  width: 340px;
  aspect-ratio: 1;
  border-radius: 12px;
}


div.fourth {
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.64);
  width: 45%;
  align-self: center;
  gap: 0px;
}

.fourth img {
  position: relative;
  width: 400px;
  height: auto;
  border-radius: 15px;
}
.fourth p {
  margin-left: 15px;
  margin-right: 15px;
}

div.fifth {
  background-color: var(--heavy-pink-color);
  width: 90%;
  height: auto;
  flex-direction: column;
  align-self: center;
  gap: 70px;
  margin-top: 60px;
}
div.fifth div.buttons {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
div.fifth div.buttons button {
  background-color: white;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: var(--poppins-font);
  font-size: 35px;
  font-weight: 500;
  color: var(--tourq-color);
  height: 40px;
  line-height: 0px;
  list-style: none;
  margin: 0;
  padding: 50px 0px;
  width: 33.4%;

  text-align: center;
  text-decoration: none;
}
div.fifth div.buttons button.first_btn {
  border-radius: 12px 0px 12px 0px;
  border-right: var(--heavy-pink-color) 4px solid;
}
div.fifth div.buttons button.mid_btn {
  border-right: var(--heavy-pink-color) 4px solid;
  border-radius: 0px 0px 12px 12px;
}
div.fifth div.buttons button.last_btn {
  border-radius: 0px 12px 0px 12px;
}
div.fifth div.buttons button:hover {
  background-color: #fff5f9;
}

div.fifth div.description img.open {
  width: 250px;
  
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 15px;
}
div.fifth div.description {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
div.fifth div.description p {
  color: #ffffff;
}
div.fifth div.description iframe {
  width: 300px;
  height: 400px;
  border: 7px solid #5dd6cf;
  margin-left: 40px;
  border-radius: 15px;
}
div.fifth img.flavors {
height: 300px;
width: 460px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 15px;
}


div.sixth {
  margin-top: 30px;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  gap: 50px;
}
div.sixth div.left {
  background-color: var(--header-white-color);
  gap: 0;
  width: 800px ;
  height: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.sixth div.left .contain-text {
  margin-top: -90px;
}
div.sixth div.left div.contain-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}
div.sixth div.left img {
  width: 100px;
  aspect-ratio: 1/1;
  margin-right: 80px;
  padding-left: 60px;
}
div.sixth div.left div.contain-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 50px;
  
}
button.reset-btn {
  color: var(--tourq-color);
  background-color: var(--header-white-color);
  border: 3px solid var(--tourq-color);
}

button.reset-btn:hover {
  color: var(--header-white-color);
  background-color: var(--tourq-color);
  border-color: var(--header-white-color);
}

div.sixth div.right {
  width: 300px;
  height: 350px;
  background-color: var(--header-white-color);
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  gap: 0;
}
div.sixth div.right div.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: baseline;
  padding-right: 15px;
  padding-left: 15px;
}
div.sixth div.right div.content p {
  font-family: var(--poppins-font);
  margin: 6px;
  margin-left: 36px;
}

div.sixth div.right div.final {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-right: 15px;
}
div.sixth div.right div.final p {
  font-weight: 700;
  
}

div.seventh {
  background-color: var(--header-white-color);
  justify-content: center;
  width: 60%;
  align-self: center;
}
div.footer {
  background-color: var(--heavy-pink-color);
  align-self: center;
  justify-content: center;
  height: auto;
  width: auto;
  max-width: 1940px;
  margin-bottom: 30px;
}
div.footer div.contact_info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
}
div.footer p {
  color: #ffffff;
}
div.footer div.contact_info img {
  width: 55px;
  aspect-ratio: 1/1;
}
.note{
  width: 100% !important;
  height: 100% !important;
  background-color:rgba(0, 0, 0, 0.3);
  position: fixed;
}
.note .standard_div{
  background-color: #ffffff;
  width: 500px;
  height: 300px;
  position: fixed;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}